* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    background-color: rgb(241, 238, 238);
    font-family: Arial, Helvetica, sans-serif
}

/* HEADER */

header {
    background-color: rgb(255, 255, 255);
    padding: 10px 20px;
    margin-bottom: 20px;
}

header img {
    width: 70px;
    vertical-align: middle;
}

header span {
    font-size: 50px;
    font-weight: bold;
    vertical-align: middle;
    margin-left: 5px;
}

/* MAIN */

main {
    margin: 0 auto 0 auto;
    width: 77%;
}

/* BOTTONI PRIMA SEZIONE */

#btns {
    background-color: rgb(255, 255, 255);
    padding: 15px 60px;
    border: none;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    
}

.btn_general {
    font-size: 15px;
    border-radius: 10px;
    border-color: rgb(241, 238, 238);
    border: solid 1px;
    padding: 10px;
    font-weight: bold;
} 

#btn1 {
    background-color: rgb(100, 181, 247);
    color: white;
    margin-right: 10px ;
}

#btn2 {
    background-color: rgb(255, 255, 255);
    color: rgb(204, 199, 199);
}

/* LISTE */

#lists {
    margin-top: 5px;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 15px 60px;
}

h2 {
    margin-top: 15px;
}

#lists li {
    padding: 15px 0 ;
    font-size: 18px;
}

/* CHECKS */

.check {
    color: rgb(63, 170, 63);
    background-color: rgb(255, 255, 255);
    padding: 2px 2px 2px 5px;
    border-radius: 50px;
    border: solid rgb(63, 170, 63) thin;
    font-size: 13px;
    margin-right: 5px;
    font-weight: bold;
}

.done {
    text-decoration: line-through;
}

.cross {
    color: rgb(170, 5, 5);
    background-color: rgb(255, 255, 255);
    padding: 2px 5px 2px 5px;
    border-radius: 50px;
    border: solid rgb(170, 5, 5) thin;
    font-size: 13px;
    margin-right: 5px;
    font-weight: bold;
}

/* ETICHETTE */

.etichetta {
    color: white;
    border-radius: 20px;
    border: none;
    padding: 10px;
    font-size: 13px;
}

.blue_tag {
    background-color: rgb(100, 181, 247);
}

#purple_tag {
    background-color: rgb(166, 67, 231);
}

#teal_tag {
    background-color: rgb(58, 187, 165);
}

#orange_tag {
    background-color: orange;
}

#pink_tag {
    background-color: rgb(228, 93, 199);
}

#green_tag {
    background-color: rgb(160, 196, 79);
}